# Terraform files
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# VS Code settings
.vscode/

# Lambda deployment packages
*.zip

# Test output or temp files
*.log
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# AWS credentials
*.pem
*.env
*.aws
